{{- $publisherLogo := "images/logo-icon.svg" | absURL -}}
{{- $desc := "" -}}
{{- with .Description -}}
  {{- if ne . "null" -}}{{- $desc = . | plainify -}}{{- end -}}
{{- end -}}
{{- if eq $desc "" -}}{{- $desc = .Summary | plainify | truncate 160 -}}{{- end -}}
{{- if .IsPage -}}
{{- $blogPosting := dict
    "@context" "https://schema.org"
    "@type" "BlogPosting"
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
    "headline" .Title
    "description" $desc
    "image" ("images/share.png" | absURL)
    "datePublished" (.Date.Format "2006-01-02T15:04:05-07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05-07:00")
    "author" (dict "@type" "Person" "name" "Ashik Nesin" "url" "https://x.com/AshikNesin" "sameAs" (slice "https://x.com/AshikNesin" "https://github.com/AshikNesin"))
    "publisher" (dict "@type" "Organization" "name" (.Site.Params.title | default .Site.Title) "url" .Site.BaseURL "logo" (dict "@type" "ImageObject" "url" $publisherLogo))
-}}
{{- with .Params.tags -}}{{- $blogPosting = merge $blogPosting (dict "keywords" .) -}}{{- end -}}
<script type="application/ld+json">
{{ $blogPosting | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{- else if .IsHome -}}
{{- $webSite := dict
    "@context" "https://schema.org"
    "@type" "WebSite"
    "name" .Site.Title
    "url" .Site.BaseURL
    "description" (.Site.Params.description | default "")
-}}
<script type="application/ld+json">
{{ $webSite | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{- end -}}

{{- if and .IsPage (ne .Section "") -}}
{{- $crumbs := slice -}}
{{- $crumbs = $crumbs | append (dict "@type" "ListItem" "position" 1 "name" "Home" "item" .Site.BaseURL) -}}
{{- with .Site.GetPage .Section -}}
{{- $crumbs = $crumbs | append (dict "@type" "ListItem" "position" 2 "name" .Title "item" .Permalink) -}}
{{- end -}}
{{- $crumbs = $crumbs | append (dict "@type" "ListItem" "position" 3 "name" $.Title) -}}
{{- $breadcrumb := dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $crumbs -}}
<script type="application/ld+json">
{{ $breadcrumb | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{- end -}}
